html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: 'black';
    background: 'white';
  }
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

  @font-face {
    font-family: 'heading-bold';
    src:url('../font/Heading-Pro-Bold-trial.ttf');
    /* src: url('https://use.typekit.net/af/54ce76/00000000000000007735a154/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'heading-book';
    src:url('../font/Heading-Pro-Book-trial.ttf');
    /* src: url('https://use.typekit.net/af/54ce76/00000000000000007735a154/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3'); */
    font-weight: normal;
    font-style: normal;
  }

  .loader {
    height: 5px;
    width: 1px;
    position: absolute;
    animation: rotate0234 3.5s linear infinite;
  }
  
  .loader .dot {
    top: 30px;
    height: 7px;
    width: 7px;
    background: #FFFFFF;
    border-radius: 50%;
    position: relative;
  }
  
  /* .text {
    position: absolute;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
  } */
  
  @keyframes rotate0234 {
    30% {
      transform: rotate(220deg);
    }
  
    40% {
      transform: rotate(450deg);
      opacity: 1;
    }
  
    75% {
      transform: rotate(720deg);
      opacity: 1;
    }
  
    76% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
      transform: rotate(0deg);
    }
  }
  
  .loader:nth-child(1) {
    animation-delay: 0.15s;
  }
  
  .loader:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader:nth-child(3) {
    animation-delay: 0.45s;
  }
  
  .loader:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .loader:nth-child(5) {
    animation-delay: 0.75s;
  }
  
  .loader:nth-child(6) {
    animation-delay: 0.9s;
  }




  .banner-bottom{
    background:#ff0000;
    padding:1em 1em;
    text-align:center;
    position: relative;
  }
  
  /* .floatleft {
    float:left;
    width: 25%;
    height: 100%;
  }
  
  .floatright {
    float:right;
    width: 75%;
    background-color: #EEE;
    position: relative;
    text-align: center;
  } */
  
  .inner{
    position: absolute;
    text-align: center;
      color: white;
    background-color: #1b1b1b;
    width: 100%;
  }	